<!DOCTYPE html>
<html lang="en">
<body> <div class="wrapper">
    <h1> LET'S THINK </h1>
    <h2> Welcome to Our Website </h2>
    <button class="Equations" routerLinkActive="active" [routerLink]="['/Game']" *ngIf="flag" >
       Equations
    </button>
    </div>
    <div class="animation-area">
         <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li> 
         </ul>
          <button class="Rid" routerLinkActive="active" [routerLink]="['/Riddles']" *ngIf="flag">
             Riddles
          </button>
        </div>
       
</body>
</html>
