*{
    font-size: 1.5rem;
    font-family:New Century Schoolbook, serif;
   
}
.navbar-nav li a:hover{
    color:#27b14d;
    cursor: pointer;
}
#navbarNav{
    margin-left: 640px;
}
.navbar-nav li a {
    margin-left: 20px;
    font-style: italic;   
 } 
 .app-name{    
     margin-left: -10px;
     font-size: 2.4rem;
     font-family: New Century Schoolbook, serif;
     color:#188332 ;
     font-weight: 600;
     font-style: italic;
     
 }
 img{
     margin-top: -25px;
     margin-left: 10px;
 }