
<html>
    <body>
        <div class="ques">HOW WE INNOVATE</div>
        <div class="container">
            <div class="box">
                <div class="icon">01</div> 
                <div class="content"> 
                    <h3>CONCEPT</h3>
                    <p>We identify and integrate emerging technlogies 
                        that everyone can use and enjoy.</p>
                </div>
             </div>
             <div class="box">
                <div class="icon">02</div> 
                <div class="content"> 
                    <h3>IMPLEMENTATION</h3>
                    <p>   Then we create and design our plans that
                           meet the needs of customers.
                    </p>
                </div>
             </div>
             <div class="box">
                <div class="icon">03</div> 
                <div class="content"> 
                    <h3>TEST</h3>
                    <p>Once the game concept has been done
                       ,we test it to check whether it 
                       conforms to its specification. 
                    </p>
                </div>
             </div>
        </div>
        </body>
        </html>