<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href = "https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrit>
</head>
<body> 
  <div id="wrapper">
    <div class="animation-area">
      <ul class="box-area">
         <li></li>
         <li></li>
         <li></li>
      </ul>
     </div>
     <div id="score">
     </div>
    <span class="form-equation"></span>
      <form class="container">
          <span id="equation">
          <div class="middle">
          <button class="btn"  (click)="callfun()">
                    <span style="font-size: 40px;">Start</span>
          </button>
       </div>
      </span>
           <p id="in"></p>
           <span id="bar"></span>
           <p id="bt"></p>
           
           
        
      </form>
   </div>
</body>
</html>