<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content = "width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title> Sign In Form</title>
     <link rel="stylesheet" href = "https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrit>
</head>
<body>      
    <div id="wrapper">
     <div class="form-container">
         <span class="form-heading">Sign In</span>
         <form action="">
        <div class="error">{{ _error }}</div>
             <div class="input-group">
                 <i class = "fas fa-envelope"></i> 
                 <input type="email" id="email_id" placeholder="Email..." required>
                 <span class="bar"></span>
             </div>  
             <div class="input-group">
                <i class = "fas fa-lock"></i> 
                <input type="password" id="password_id" placeholder="Password..." required>
                <span class="bar"></span>
            </div>  
            <div class="input-group">
              <button (click)="login()">
                <i class="fab fa-telegram-plane"></i> 
              </button>
            </div>  
         </form>
     </div>
    </div>
</body>
</html>
